.headerContainer {
    width: 100%;
    background-color: black;
    color: white;
}
.imgLogo{
    width: 100px;
    height: 100px;
}
.containerRodape {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 20px;
}

.boxTexto {
    width: 20%;
    height: 100px;
}

.boxDireitos {
    width: 100%;
    padding: 20px;
    text-align: center;
}
.linkRodape {
        text-decoration: none;
        font-weight: bold;
        color: aqua;
}



/* *************** Área de Responsividade ******************* */
/* Smartphones menores */
@media (max-width: 375px) {
.containerRodape {
    flex-direction: column;
}
.boxTexto {
    width: 90%;
    text-align: center;
}

}
/* Dispositivos móveis (smartphones) em modo retrato */
@media (max-width: 768px) {
.containerRodape {
    flex-direction: column;
}
.boxTexto {
    width: 90%;
    text-align: center;
}
}

/* Dispositivos móveis (smartphones) em modo paisagem */
@media (min-width: 601px) and (max-width: 768px) {
    /* Futura atualização */
}

/* Tablets e telas maiores */
@media (min-width: 769px) and (max-width: 1024px) {
    /* Futura atualização */
}