.sectionBanner {
    width: 100%;
    min-height: 100vh;
    background: url('../../../public/banner-sabores.jpg') center / cover no-repeat;
    /* background-size: cover; funciona no lugar da sintaxe acima que pede position / size extamente assim com uso de barra ou a nãodá certo e a imagem some */
    color:aliceblue;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    text-shadow: 3px 5px 2px #474747;
}

.sectionCards {
    width: 100%;
    padding: 100px 20px;

    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

.containerCards {
    max-width: 1024px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.imgCard {
    width: 100%;
    height: max-content;
    
}
.card {
    width: 300px;
    min-height: 400px ;
    padding: 20px;
    
    box-shadow: 2px 2px 15px 2px #d9dde1;

    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;

    text-align: center;

    & h3 {
        font-size: 18px;
    }

    & p {
        font-size: 16px;
    }
}


/* *************** Área de Responsividade ******************* */
/* Smartphones menores */
@media (max-width: 375px) {
.sectionBanner h1 {
    font-size: 40px;
    text-align: center;
}

}
/* Dispositivos móveis (smartphones) em modo retrato */
@media (min-width: 376px) and (max-width: 768px) {
.sectionBanner h1 {
    font-size: 40px;
    text-align: center;
}
}
/* Dispositivos móveis (smartphones) em modo paisagem */
@media (min-width: 769px) and (max-width: 1024px) {


}

/* Tablets e telas maiores */
@media (min-width: 1025px) {
    /* Futura atualização */
}
